body{
    background-color: #F3F5FC;
}

.input-padron{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    -webkit-text-fill-color: #0A3871;    
    height: 600px;
    resize: none;
    width: 900px;
    border: none;
    line-height: 150%;
    left: 240px;
    top: 168px;
    outline: none;
    overflow: auto;

}



.input-resuelto{
    display: inline-block;
    position: relative;
    width: 336px;
    height: 770px;
    top: 30px;
    -webkit-text-fill-color: #495057;    
    resize: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border: none;
    outline: none;
    overflow: auto;


}

label{
    position: absolute;
    bottom: 330px;
    left: 250px;
}

.desencriptar{
    border-radius: 24px;
    position: absolute;
    width: 328px;
    height: 67px;
    left: 700px;
    top: 885px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.encriptar{
    border-radius: 24px;
    position: absolute;
    width: 328px;
    height: 67px;
    left: 240px;
    top: 885px;
    color: #FFFFFF;
    background-color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;

}

.ImagenesExclamacion{
    position: absolute;
    top: 850px;
    left: 240px;
    -webkit-user-drag: none;
}

.textoAdvertencia{
    position: absolute;
    top: 851px;
    left: 266px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: default
    
}


.contenedor{
    position: absolute;
    display: inline-block;
    background-color: #FFFFFF;
    resize: none;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    top: 10px;
    left: 1300px;  
    text-align: center;

}

.imagenenEncriptador{
    position: absolute;
    display: inline-block;
    width: 336px;
    height: 304px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;


}

.textoEncriptador{
    display: inline-block;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    top: -150px;
    line-height: 120%;
    color: #343A40;

}

.textoAdjunto{
    position: relative;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    top: -120px;
    color: #495057;
}


.logo{
    -webkit-user-drag: none;
    position: absolute;
    left: 40px;
    top: 40px;
}

.boton-copiar{
    position: relative;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #0A3871;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    top: 80px;
}




  