body{
    background-color: #F3F5FC;
}

.input-padron{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 32px;
    background-color: #F3F5FC;
    resize: none;
    border: none;
    line-height: 150%;
    left: 240px;
    top: 168px;
    outline: none;
    overflow: auto;

}



.input-resuelto{
    display: block;
    position: relative;
    width: 100%;
    resize: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    border: none;
    outline: none;
    overflow: auto;
    text-align: center;
    
}




.boton-encriptar{
    
    color: #FFFFFF;
    background-color: #0A3871;
    
    
}

.boton-desencriptar{
    background-color: #FFFFFF;
    
}


.ImagenesExclamacion{
    display: block;
    -webkit-user-drag: none;
}

.boton-desencriptar,.boton-encriptar,.boton-copiar{
    display: inline-block;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
}

.textoAdvertencia{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: default
    
}

.advertencia{
    display: flex;
}

.contenedor{
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    resize: none;
    padding: 32px;
    border-radius: 32px;
    align-items: center;

}

.imagenenEncriptador{
    position: relative;
    display: inline-block;
    -webkit-user-drag: none;


}

.textoAdjunto{
    width: 100%;
    display: block;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    text-align: center;

}


.logo{
    display: block;
    -webkit-user-drag: none;
    height: 100px;    
}

.boton-copiar{
    color: #0A3871;

}

.contenedor-usuario{
    display: flex;
}