body{
    background-color: #F3F5FC;
}

.img-logo{
    display: block;
    width: 100%;   
    object-position: left;
    max-height: 100%;
    object-fit: scale-down;
    -webkit-user-drag: none;
}

.logo{
    height: 100px;

}

.input-padron{
    /* tengo que tener cuidado con el widht: 100% porque este me limita algunas acciones, como en este caso que
    fue el margin-right, pero esto igualmente le quita la opcion de que se adapte a la pagina */
    display: block;
    padding-top: 70px;
    width: 85%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    background-color: #F3F5FC;
    resize: none;
    border: none;
    line-height: 150%;
    outline: none;
    overflow: auto;

}




.boton-encriptar{
    
    color: #FFFFFF;
    background-color: #0A3871;
    position: relative;
    width: 40%;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 24px 15px 24px 0;
}

.boton-desencriptar{
    background-color: #FFFFFF;
    position: relative;
    width: 40%; /* Principalmente esto se usa para que se adapte al elemento padre y se pueda correr junto al elemento padre */
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 24px auto;
}


.ImagenesExclamacion{
    display: block;
    -webkit-user-drag: none;
}


.textoAdvertencia{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: default
    
}

.advertencia{
    display: flex;
}

.contenedor{
    /* Es interesane porque cuando le agrege el flex al .opciones-usuario este ya no necesita del flex y gap y just-content: center y el flex-direction: column */
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 32px;
    align-items: center; /* Alparecer esta propiedad solo aplica a los que tiene como display flex o inline-flex */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex: 1;
    justify-content: center;
    gap: 10px;
}

.input-resuelto {
    display: block;
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    position: relative;
    height: 80%;
    width: 100%;
    align-self: start;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.texto-resuelto{
    height: 100%;
}
.boton-copiar{
    display: block;
    color: #0A3871;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 16px auto;
    width: 80%;
}

.textoPrincipal{
    display: block;
    position: relative;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    line-height: 200%;
    text-align: center;
    
}

.textoAdjunto{
    display: block;
    width: 100%;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    text-align: center;
    
}

.imagenenEncriptador{
    width: 100%;
    position: relative;
    display: block;
    -webkit-user-drag: none;


}



.contenedor-usuario{
    display: flex;
    padding: 0% 5% 0 15%;
    height: 800px;
}

.contenedor-principal{
    display: block;

}

.opciones-usuario{
    flex: 3; /* Lo que creo que hace es que respecto a su elemento padre que es flex este lo acomoda con la tercera parte 
    o de otra forma dicha este entre mas aumente el valor mas ocupa este contenedor respecto a su elemento padre que es flex */
}