body{
    background-color: #F3F5FC;
}

.input-padron{
    display: block;
    padding-top: 70px;
    margin-right: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    font-size: 32px;
    background-color: #F3F5FC;
    resize: none;
    border: none;
    line-height: 150%;
    left: 240px;
    top: 168px;
    outline: none;
    overflow: auto;

}




.boton-encriptar{
    
    color: #FFFFFF;
    background-color: #0A3871;
    position: relative;
    width: 40%;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 24px 15px 24px 0;
}

.boton-desencriptar{
    background-color: #FFFFFF;
    position: relative;
    width: 40%; /* Principalmente esto se usa para que se adapte al elemento padre y se pueda correr junto al elemento padre */
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 24px auto;
}


.ImagenesExclamacion{
    display: block;
    -webkit-user-drag: none;
}


.textoAdvertencia{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    cursor: default
    
}

.advertencia{
    display: flex;
}

.contenedor{
    position: relative;
    flex: 1;
    display: flex;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 32px;
    align-items: center; /* Alparecer esta propiedad solo aplica a los que tiene como display flex o inline-flex */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.input-resuelto {
    display: block;
    resize: none;
    border: none;
    outline: none;
    overflow: auto;
    position: relative;
    height: 80%;
    width: 100%;
    align-self: start;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.textoPrincipal{
    display: block;
    position: relative;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    
}

.textoAdjunto{
    display: block;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    text-align: center;

}

.imagenenEncriptador{
    position: relative;
    display: block;
    -webkit-user-drag: none;


}


.logo{
    display: block;
    -webkit-user-drag: none;
    height: 100px;    
}

.boton-copiar{
    color: #0A3871;
    background-color: #FFFFFF;
    position: relative;
    width: 60%; /* Principalmente esto se usa para que se adapte al elemento padre y se pueda correr junto al elemento padre */
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-align: center;
    margin: 24px auto;
}

.contenedor-usuario{
    display: flex;
    padding: 0% 15% 0 15%;
}

.contenedor-principal{
    display: block;
}
